@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeeeee;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


nav{
  background: #171717;
  color: #ffffff;
  padding: 1rem;
  height: 100%;
  width: 150px;
}
 nav .active{
  color: #00ff1e;
}


nav ul li {
  margin-top: 0.5rem;
}

nav ul li ul{
  margin-left: 1rem;
}